<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash; By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-3level) %cyan(%logger) - %msg %n</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;<layout class="ch.qos.logback.classic.PatternLayout">&ndash;&gt;-->
        <!--&lt;!&ndash;<Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-3level) %cyan(%logger) - %msg %n</Pattern>&ndash;&gt;-->
        <!--&lt;!&ndash;</layout>&ndash;&gt;-->
    <!--</appender>-->

    <!--<root>-->
    <!--<appender-ref ref="CONSOLE"/>-->
    <!--</root>-->


    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose -->
            <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <!-- %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose -->
            <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %logger{36} - %m%n</pattern>
        </encoder>
        <append>false</append>
        <!--        <file>local/log/logFile-${bySecond}.log</file>-->
        <file>local/log/logFile.log</file>
    </appender>

<!--    <logger name="vahy" level="info"/>-->

    <root level="info">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="FILE"/>
    </root>


</configuration>
