<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash; By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-3level) %cyan(%logger) - %msg %n</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;<layout class="ch.qos.logback.classic.PatternLayout">&ndash;&gt;-->
        <!--&lt;!&ndash;<Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-3level) %cyan(%logger) - %msg %n</Pattern>&ndash;&gt;-->
        <!--&lt;!&ndash;</layout>&ndash;&gt;-->
    <!--</appender>-->

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <!-- %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose -->
            <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>
        </encoder>
        <append>false</append>
<!--        <file>local/log/logFile-${bySecond}.log</file>-->
        <file>local/log/logFile.log</file>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <File>local/log/logFile.log</File>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <FileNamePattern>local/log/logFile.%d{yyyy-MM-dd_HH}.log</FileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--&lt;!&ndash;            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>&ndash;&gt;-->
<!--            <Pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</Pattern>-->
<!--        </layout>-->
<!--    </appender>-->


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose -->
            <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root name="vahy" level="trace">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>



</configuration>
